<div class="jumbotron jumbotron-fluid">
  <div class="container">
<%= form_with(model: transaction, local: true) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-md-6">
     <%= select_tag(:category_id, options_for_select(@categories), :prompt => "Select Transasction Type!") %>
  </div>

  <div class="form-group col-md-6">
    <%= form.label :date %>
    <%= form.datetime_select :date, id: :transaction_date %>
  </div>

 <div class="form-group col-md-6">
    <%= form.label :amount %>
    <%= form.text_field :amount, id: :transaction_amount,:class => "form-control", :placeholder => 'Amount to Send' %>
  </div>
  <div class="form-group col-md-6">
    <%= form.label :recipient %>
    <%= form.text_field :recipient, id: :transaction_recipient,:class => "form-control", :placeholder => 'Recipients Email' %>
  </div>

  <div align="center">
    <%= form.submit :class => 'btn btn-primary'%>
  </div>
<% end %>
</div>
</div>
