<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @transaction.date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= @transaction.recipient %>
</p>

  <strong>User:</strong>
  <%= @transaction.user %>
</p>

<p>
  <strong>Account:</strong>
  <%= @transaction.account %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
