<p id="notice"><%= notice %></p>

<h1>Accounts</h1>
<div class="table-responsive">
<table class='table'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Number</th>
      <th scope="col">Balance</th>
      <th scope="col">User</th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.number %></td>
        <td><%= account.balance %></td>
        <td><%= account.user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div align="center">

<%= link_to 'Create New Account', new_account_path ,:class => 'btn btn-success'%>
</div>
<br/>
</div>
